//Layout Mixins 
@use "sass:math";
@use "variables" as *;

//Center Elements in a flex container 
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

//Create a Flex Row 
//with even spacing between elements
@mixin flex-layout-row {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
}



//brandon section

//Styles For Selecting Product

//style for buttons
@mixin find-my-product-button{
    color: '$brand-color-2';
    background-color: '$brand-color';
    border-color: '$brand-color';
    border-style: none;
    display: block;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    padding: 10px 10px;
    cursor: pointer;
}

//tablet style for selection
@mixin tablet-selection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin-bottom: -2rem;
}

//mobile display for selection
@mixin mobile-selection{
    .master-type{
        display: block;
    }

    .product-type {
        width:70%;
    }
    .button-find {
        width: 70%;
    }
}

// h2,h3,h4,p about us text style format
@mixin about-us-text{
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    display: block;
    text-align: center;
    z-index: 1;
    color: $brand-color-2;
    
}

// about is button
@mixin about-us-button{
     /* positioning */
     margin: 0 auto;
     left: 0;
     right: 0;
     position: absolute;
     display: block;
     /* styling button */
     border-style: none;
     text-transform: uppercase;
     text-align: center;
     font-size: 12px;
     padding: 10px 10px;
     cursor: pointer;
     background-color: transparent;
     color: white;
     border: $bottom-border;
}

// hides unneeded h2,h3,h4,p, button for tablet and mobile version
@mixin hide-text{
    .h3-tablet{
        display: none;
    }
    
    .h3-tablet span{
        display: none;
    }
    
    .tablet-version{
        display: none;
    }
    
    
    .mobile-about-us{
        display: none;
    }
    .p-mobile-all {
        display: none;
    }
}

@mixin hide-text-tablet {
    .about-us h2 span {
        display: none; 
    }

    .about-us h2 {
        display: none;
    }
    .desktop-about-us {
        display: none;
    }
    .tablet-version{
        display: block;
    }
}

@mixin mobile-text{
    font-size: 1.85rem;
    text-transform: uppercase;
}

@mixin mobile-text-p-position{
    .p-mobile-2{
        transform: translateY(-1rem);
    }
    .p-mobile-3{
        transform: translateY(-2rem);
    }
    .p-mobile-4 {
        transform: translateY(-3rem);
    }
    .p-mobile-5 {
        transform: translateY(-4rem);
    }
}

//------------------------muhammad section ----------------------------------------------------------
@mixin content-center($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
  }
  
  @mixin grid-layout($columns: 50% 50%, $rows: auto) {
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
  }
  
  @mixin map-img{
    .map-img {
      position: relative;
      width: 100%;
    }}
  @mixin map-text{
      .map-text {
        position: absolute;
        height: 100%;
        width: 100%;
        flex-wrap: wrap;
        top: 0;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    }
  
  @mixin contact-us-style {
    background: #154a66;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    top: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  @mixin responsive-font($desktop: 2rem, $tablet: 1.7rem, $mobile: 1.4rem) {
    font-size: $desktop;
    @media (max-width: 1024px) {
      font-size: $tablet;
    }
    @media (max-width: 460px) {
      font-size: $mobile;
    }
  }
  @mixin footer-grid {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
  }
  @mixin site-footer-grid {
    background-color: #009ddc;
    padding-bottom: 20px;
    align-items: end;
    display: grid;
    justify-content: space-around;
    grid-template-columns: 50% 50%
   
  }


 