@use 'variables' as *; 

/* Row Nav */

@media (min-width: 560px){
    
    .row-nav {
        background-color: rgba(0, 0, 0, 0.5);
        visibility: visible;
        height: auto;
        margin-top: 5rem;
        max-width: 600px;
    }
    
    .row-nav ul {
        display: flex;
        justify-content: space-evenly;
        padding: 0;
    }
    
    .row-nav li {
        flex: 1;
    }
    
    .row-nav a {
        color: $text;
        text-decoration: none;
        border-top: none;
        text-align: center;
    }
}


@media (min-width: 960px){
    
    .row-nav {
        background-color: rgba(0, 0, 0, 0.5);
        visibility: visible;
        height: auto;
        margin-top: 7rem;
        max-width: 700px;
    }
}