/* Variables */ 

//Colors 
$brand-color: #03a9f4; 
$bgc: blue; 

//Text Colors 
$text: white; 
$color: black;
$hover: grey; 

// Fonts
$body-font: 'Roboto Condensed', 'Times New Roman', Times, serif, "Helvetica Neue", Helvetica, sans-serif;
$heading-font: 'Roboto Condensed', 'Times New Roman', Times, serif, "Helvetica Neue", Helvetica, sans-serif;

// Typographic Defaults 
$line-height: 1.5; 

//Layout variables
$padding: 20px; 
$no-padding: 0px; 