/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {
  font-family: "Roboto Condensed", "Times New Roman", Times, serif,
    "Helvetica Neue", Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", "Times New Roman", Times, serif,
    "Helvetica Neue", Helvetica, sans-serif;
}

p {
  font-family: "Roboto Condensed", "Times New Roman", Times, serif,
    "Helvetica Neue", Helvetica, sans-serif;
}

/* Main
  --------------------------------------------- */
.site-wrapper {
  max-width: 120rem;
  margin: 0 auto;
}

.product-selection h2,
p {
  justify-content: center;
  display: flex;
  margin-bottom: 1rem;
}

.product-selection h2 {
  color: white;
}

.product-selection h2 {
  font-weight: 700;
  text-transform: uppercase;
}

.product-selection p {
  color: lightskyblue;
  font-weight: 100;
  font-size: 12px;
  border-bottom: 1px solid rgb(255, 255, 255);
  padding-bottom: 1rem;
}

/* tablet button hidden on desktop */
.button-find {
  display: none;
}

.product-selection button {
  color: white;
  background-color: lightskyblue;
  border-color: #87cefa;
  border-style: none;
  display: block;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  width: 87.7%;
  padding: 10px 10px;
  cursor: pointer;
}

.master-type {
  text-align: center;
  padding-bottom: 3rem;
  padding-top: 1rem;
}

.product-type {
  display: inline-block;
  padding-bottom: 2rem;
  margin-right: 0.3rem;
  margin-left: 0.3rem;
  width: 17%;
  text-transform: uppercase;
}

.product-type label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  color: white;
}

.product-type select {
  display: block;
  width: 100%;
  background-color: lightgray;
  border: 0;
  height: 2.5rem;
  padding-left: 1rem; /* Adjust the padding-left value as needed */
}

/* TABLET SIZE TABLET SIZE TABLET SIZE TABLET SIZE TABLET SIZE  */

@media (max-width: 1024px) {
  .master-type {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin-bottom: -2rem;
  }

  .product-type {
    width: 90%;
    text-transform: capitalize;
  }

  .product-selection button {
    display: none;
  }
  .button-find {
    display: flex;
    margin: 0 auto;

    color: white;
    background-color: lightskyblue;
    border-color: #87cefa;
    border-style: none;
    display: block;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    width: 95%;
    padding: 10px 10px;
    cursor: pointer;
  }

  .button-background {
    background-color: #154a66;
    padding-bottom: 3rem;
  }
}
/* mobile display */
@media (max-width: 430px) {
  .master-type {
    display: block;
  }

  .product-type {
    width: 70%;
  }
  .button-find {
    width: 70%;
  }
}

.product-type select:focus {
  background-color: whitesmoke;
  outline: none;
}

.product-type select {
  appearance: none; /* Disable default appearance */
  -webkit-appearance: none; /* For Safari and Chrome */

  /* Custom arrow image or content */
  background-image: url("../images/blue-arrow.png");
  background-position: right center;
  background-repeat: no-repeat;
}

.dark-wave {
  background-color: white;
}

.back-ground-dark-blue {
  background-color: #154a66;
}

.about-us h2 {
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  display: block;
  text-align: center;
  z-index: 1;
  color: white;
  text-transform: uppercase;

  transform: translateY(-425px);
  font-size: 2rem;
  font-weight: 700;
}

.about-us h2 span {
  display: flex;
  justify-content: center;
  position: absolute;
  transform: translateY(5%);
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.desktop-about-us {
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  transform: translateY(-300px);
  display: block;
  z-index: 1;
  color: rgb(255, 255, 255);
  text-align: center;
}

.desktop-about-us span {
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  transform: translateY(50%);
  display: block;
  z-index: 1;
  color: rgb(255, 255, 255);
  text-align: center;
}

.about-us button {
  /* positioning */
  
}

/* removes a small white line */
.about-us {
  background-color: lightskyblue;
}

/* moving h2 p and button all at ounce */
.about-info {
  transform: translateY(50px);
}

.h3-tablet {
  display: none;
}

.h3-tablet span {
  display: none;
}

.tablet-version {
  display: none;
}

.mobile-about-us {
  display: none;
}
.p-mobile-all {
  display: none;
}

/* TABLET SIZE TABLET SIZE TABLET SIZE TABLET SIZE TABLET SIZE TABLET SIZE TABLET SIZE TABLET SIZE*/

/* fixes position before entering tablet resolution */
@media (max-width: 1350px) {
  .about-info {
    transform: translateY(150px);
  }
}

/* tablet resolution */
@media (max-width: 1024px) {
  .about-us img {
    display: block;
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }

  .about-us h2 span {
    display: none;
  }

  .about-us h2 {
    display: none;
  }

  .desktop-about-us {
    display: none;
  }

  .tablet-version {
    display: block;
  }

  .h3-tablet {
    display: block;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    transform: translateY(-425px);
    display: block;
    text-align: center;
    z-index: 1;
    font-weight: 700;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    text-transform: uppercase;
  }

  .h3-tablet span {
    display: flex;
    justify-content: center;
    position: absolute;
    transform: translateY(5%);
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    color: rgb(255, 255, 255);
  }

  /* tablet paragraph for about us */
  .tablet-about-us {
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    transform: translateY(-300px);
    display: block;
    z-index: 1;
    color: rgb(255, 255, 255);
    text-align: center;
  }

  .tablet-about-us span {
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    transform: translateY(50%);
    display: block;
    z-index: 1;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  .tablet-about-us span:last-child {
    transform: translateY(200%);
  }
}

/* @media (max-width: 960px)
      {
          .h3-tablet {
              transform: translateY(-350px); 
          }
      }   
  
       @media (max-width: 960px)
      {
          .h3-tablet {
              font-size: 1rem;
          }
          
          .tablet-about-us{
              font-size: 0.5rem;
          }
      }   */

/* @media (max-width: 720px) {
  
        
  
          .about-us button {
              transform: translateY(-220px);
              width: 15%; 
          }
  
          .tablet-about-us {
              transform: translateY(-270px); 
          }
          .h3-tablet {
              font-size: 0.8rem;
              transform: translateY(-310px); 
          }
  
          
      } */

@media (max-width: 730px) {
  .about-us button {
    width: 20%;
  }
}

@media (max-width: 565px) {
  .about-us button {
    font-size: 5px;
    padding: 5px 5px;
    transform: translateY(-180px);
  }

  .tablet-version {
    transform: translateY(10px);
  }
}

/* mobile versionmobile versionmobile versionmobile versionmobile versionmobile version */

@media (max-width: 440px) {
  .tablet-version {
    display: none;
  }

  .mobile-about-us {
    display: block;
  }

  .h4-mobile {
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 25rem;
    position: absolute;

    z-index: 1;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
  }
  .h4-mobile-2 {
    margin: 0 auto;
    bottom: 22.5rem;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 1;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
  }

  .h4-mobile-3 {
    bottom: 20rem;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 1;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
  }

  .about-us img {
    display: block;
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }

  .p-mobile-all {
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    transform: translateY(-325px);
    display: block;
    z-index: 1;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  .p-mobile-2 {
    transform: translateY(-1rem);
  }
  .p-mobile-3 {
    transform: translateY(-2rem);
  }
  .p-mobile-4 {
    transform: translateY(-3rem);
  }
  .p-mobile-5 {
    transform: translateY(-4rem);
  }
  .about-us button {
    font-size: 12px;
    padding: 8px 8px;
    width: 30%;
    transform: translateY(-640%);
  }
}

.video {
  background-color: lightskyblue;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

.video-player {
  border-right: 1px solid #1f7e5b;
  border-top: 7px solid #1f7e5b;
  border-bottom: 7px solid #1f7e5b;
  box-shadow: 0 0 0 10px rgb(35, 66, 91);
  width: 620px;
}

/* TABLET SIZE TABLET SIZE TABLET SIZE TABLET SIZE TABLET SIZE TABLET SIZE TABLET SIZE TABLET SIZE*/
@media (max-width: 1024px) {
  .video-player {
    border-top: 4px solid #1f7e5b;
    border-bottom: 4px solid #1f7e5b;
    box-shadow: 0 0 0 15px rgb(35, 66, 91);
    border-right: 0px solid #1f7e5b;
  }
}

/* MOBILE MOBILE */
@media (max-width: 660px) {
  .video-player {
    width: 290px;
    height: auto;

    /* border reset */
    border-top: 0px solid #1f7e5b;
    border-bottom: 0px solid #1f7e5b;

    box-shadow: 0 0 0 20px rgb(35, 66, 91);
    border-right: 10px solid #1f7e5b;
    border-left: 10px solid #1f7e5b;
  }
}

/* footer section muhammad section footer section muhammad section  footer section muhammad section  */

.enter-email {
  padding: 10px;
  gap: 20px;
  background-color: lightblue;
  justify-content: center;
  display: flex;
  align-items: center;
}
.enter-email h2 {
  color: #154a66;
}

.contact-location {
  display: grid;
  grid-template-columns: 50% 50%;
}

.map-with-text {
  .map-img {
    position: relative;
    /* height: 100%; */
    width: 100%;

    .map-text {
      /* height */
      position: absolute;
      height: 100%;
      width: 100%;
      flex-wrap: wrap;
      top: 0;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
}

button {
  background-color: #009ddc;
  border: none;
  color: white;
  padding: 8px;
}

h2 {
  color: white;
}

.map-text h2 {
  font-size: 2rem;
  color: black;
}
.contact-us h2 {
  font-size: 2rem;
}

.site-footer {
  align-items: end;
  display: flex;
  justify-content: space-around;
  /* grid-template-columns: 50% 50%; */
}

.footer-links {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.enter-email h2 {
  margin: 0px;
}

.contact-us {
  background: #154a66;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  top: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img-wave {
  position: absolute;
  bottom: 0%;
}

.contact-con {
  position: relative;
}

.favicon {
  max-width: 150px;
}

.footer-links img {
  max-width: 27px;
}

.favicon-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-footer {
  background-color: #009ddc;
  padding-bottom: 20px;
  align-items: end;
  display: grid;
  justify-content: space-around;
  grid-template-columns: 50% 50%;
}
.contacts {
  display: flex;
  align-items: center;
  gap: 8px;
}
.submit-btn {
  padding: 3px 39px 3px 39px;
}
input {
  padding-left: 8px;
  width: 25%;
}
